.section-specialty {
    width: 100%;
    height: 330px;
    border: 1px solid;

    .specialty-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .specialty-header {
            height: 60px;
            padding-top: 34px;
            /* border: 1px solid #e14646; */
            margin-bottom: 33px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                padding: 10px 15px;
                float: right;
                text-transform: uppercase;
                display: block;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                font-size: 11px;

                &:hover {
                    color: #fff;
                    background: yellowgreen;
                }
            }
        }

        .specialty-body {
           // border: 1px solid black;

            // reset slick slider css 
            .specialty-customize {
                .bg-image {
                    width: 290px;
                    height: 150px;
                    background: url(../../assets/section/coxuongkhop.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;

                }
            }


            .slick-prev,  .slick-next {
                border: 1px solid black !important;
                z-index: 1000;
                right: -13px !important;
                width: 44px !important;
                height: 48px !important;
                background: transparent !important;
                color: transparent !important;
                outline: none;
                border: none;
                display: block;


                &:hover {
                    background: #eee !important;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                font-family: 'Font Awesome 5 Free' !important;
                color: brown !important;

            }


        }

    }

}