.home-header-container{
    height: 80px;
    width: 100%;
    padding: 0 10px;
    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;
        .left-content{

width: 18%;
height: 100%;
//border: 1px solid gray;
display: flex;
align-items: center;

         .header-logo{
            background:  url('../../assets/images/zyro-image.png') no-repeat center center / contain ;
            width: 100%;    
            height: 100%;
            
         }
         i{
            cursor: pointer;
            font-size: 30px;
            color: gray;
            margin: 0px 5px;
            
         }
        }
        .center-content{
            width: 57%;
            height: 100%;
            //border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content:space-around;
            b{
                font-size: 20px;
            }
            .subs-title{
                font-size: 14px;
                font-weight: 400;
            }

        }
        .right-content{
            width: 25%;
            height: 100%;
          //  border: 1px solid blue;
            display:flex;
            justify-content: center;
            align-items: center;
            i{
                
color: #45c3d2;
font-size: 25px;
            }
            .flag{
                color: #45c3d2;
font-weight: 900;
            }
        }
    }
}
.home-header-banner{
    background: url('../../assets/images/header-background.jpg');
    height: 485px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    .content-up{
        //border: 1px solid red;
        height: 65%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));

    .title1{  
        font-size: 40px;
        text-align: center;
        /* color: white; */
        text-shadow: 2px 2px 2px #333;
        margin-bottom: -3px;
        margin-top: 23px;
                color: white;
    }
    .title2{    font-size: 42px;
        text-align: center;
        /* color: white; */
        text-shadow: 2px 2px 2px #333;
        margin-bottom: 10px;
        color:white
    }
    .search {
        width: fit-content;
        display: flex;
        margin: 0 auto;
      //  border: 1px solid gray;
        justify-content: center;
        align-items: center;
        background: #f7d800;
        padding: 10px;
        margin-top: 22px;
        border-radius: 30px;
        i{
            margin:0 5px;
        }
        input{
            width: 380px;
            background: transparent;
            outline: none;
            border: none;
            
        }
    }}
    .content-down{
       // border: 1px solid black;
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));;
        .options{
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 50px;
            .options-child{
                width: 100px;
               // border: solid 1px gray;
                .icon-child{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 10px;
                    margin: 0 auto;
                    background: white;
                    text-align: center;
                    i{
                        color: #49bce2;
                        font-size: 20px;
                    }
                }
                .text-child{
                    font-size: 18px;
                    font-weight:700;
                    cursor: pointer;
                    &:hover{
                        color: #49bce2;
                    }
                }
               

            }
        }
    }

    
}